h1 {
    color: bisque;
}

p {
    color: black;
}

.header {
    color: olivedrab;
}

.big_text {
    font-size: 20px;
    font-weight: bolder;
    font-family: monospace;
    font-style: italic;
    line-height: 2;
    background-color: lightcoral;
    
    width: 250px;
    height: 500px;
    overflow-x: auto;
    
}

.text_center {
    text-align: center;
}

.text_left {
    text-align: left;
}

.text_right {
    text-align: right;
}

.text_justify {
    text-align: justify;
}

.div1 {
    /*border-width: 1px;
    border-color: red;
    border-style: solid;*/
    
    width: 100px;
    height: 100px;
    padding: 10px 20px;
    /*padding: 10px 20px;*/
    /*padding-top...*/
    background-color: whitesmoke;

    border-top: red solid 1px;
    border-bottom: red solid 3px;
    
    /*border: 1px solid red;*/
    margin: 100px;
}

.parent_div {
    width: 500px;
    height: 500px;
    background-color: brown;
}

.list {
    list-style-type: lower-greek;
    /*list-style-image: url(logo.png);*/
    
}

table {
    border-collapse: collapse;
}

table, th, td{
    border: 1px solid black;
}

th {
    font-weight: bold;
    background-color: darkslategray;
}

td {
    padding: 5px;
}

a {
    font-size: 30px;
    color: black;
    text-decoration: none;
}

a:link {}
a:visited {
    color: green;
}
a:hover {
    color: yellow;
    text-decoration: overline;
}
a:active {}

#image {
    cursor: pointer;
}

#image:hover {
    filter: brightness(40%);
}